In [10]:
import pandas as pd
df = pd.read_csv("datasets/LifeExpectancy.csv")
df.head(4)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8

In [11]:
# Columnas del dataset
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [12]:
# Years included on the dataset
df["Year"].unique()

array([2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
       2004, 2003, 2002, 2001, 2000], dtype=int64)

In [13]:
# Countries included on the dataset
print(f'Unique countries: {df["Country"].nunique()}')
for country in df["Country"].unique():
    print(country)

Unique countries: 193
Afghanistan
Albania
Algeria
Angola
Antigua and Barbuda
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan
Bolivia (Plurinational State of)
Bosnia and Herzegovina
Botswana
Brazil
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Côte d'Ivoire
Cabo Verde
Cambodia
Cameroon
Canada
Central African Republic
Chad
Chile
China
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Croatia
Cuba
Cyprus
Czechia
Democratic People's Republic of Korea
Democratic Republic of the Congo
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Fiji
Finland
France
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Liberia
Libya
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Mauritania
Mauritius
Mexico
Micronesia (Federated States of)
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Zealand
Nicaragua
Niger
Nigeria
Niue
Norway
Oman
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Republic of Korea
Republic of Moldova
Romania
Russian Federation
Rwanda
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Spain
Sri Lanka
Sudan
Suriname
Swaziland
Sweden
Switzerland
Syrian Arab Republic
Tajikistan
Thailand
The former Yugoslav republic of Macedonia
Timor-Leste
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom of Great Britain and Northern Ireland
United Republic of Tanzania
United States of America
Uruguay
Uzbekistan
Vanuatu
Venezuela (Bolivarian Republic of)
Viet Nam
Yemen
Zambia
Zimbabwe

In [14]:
# Change countries name to coincide with the GeoJSON data
df['Country'] = df['Country'].replace('Bolivia (Plurinational State of)', 'Bolivia')
df['Country'] = df['Country'].replace('Venezuela (Bolivarian Republic of)', 'Venezuela')
df['Country'] = df['Country'].replace('Democratic Republic of the Congo', 'Dem. Rep. Congo')
df['Country'] = df['Country'].replace('Russian Federation', 'Russia')
df['Country'] = df['Country'].replace('Dominican Republic', 'Dominican Rep.')
df['Country'] = df['Country'].replace('United Republic of Tanzania', 'Tanzania')
df['Country'] = df['Country'].replace('South Sudan', 'S. Sudan')
df['Country'] = df['Country'].replace('Central African Republic', 'Central African Rep.')
df['Country'] = df['Country'].replace('Iran (Islamic Republic of)', 'Iran')
df['Country'] = df['Country'].replace('Syrian Arab Republic', 'Syria')
df['Country'] = df['Country'].replace('Bosnia and Herzegovina', 'Bosnia and Herz.')
df['Country'] = df['Country'].replace('Republic of Moldova', 'Moldova')
df['Country'] = df['Country'].replace('Republic of Moldova', 'Moldova')
df['Country'] = df['Country'].replace('The former Yugoslav republic of Macedonia', 'North Macedonia')
df['Country'] = df['Country'].replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom')
df['Country'] = df['Country'].replace('Equatorial Guinea', 'Eq. Guinea')
df['Country'] = df['Country'].replace("Lao People's Democratic Republic", 'Laos')
df['Country'] = df['Country'].replace('Viet Nam', 'Vietnam')
df['Country'] = df['Country'].replace('Republic of Korea', 'South Korea')
df['Country'] = df['Country'].replace("Democratic People's Republic of Korea", 'North Korea')
df['Country'] = df['Country'].replace('Solomon Islands', 'Solomon Is.')
df['Country'] = df['Country'].replace('Micronesia (Federated States of)', 'Micronesia')
df['Country'] = df['Country'].replace('United States of America', 'United States')

In [15]:
# Save updated files
df.to_csv('datasets/LifeExpectancyUpdated.csv', index=False)

In [1]:
import pycountry_convert as pc

# Función para obtener el continente de un país
def country_to_continent(country_name):
    try:
        # Obtener el código del país
        country_code = pc.country_name_to_country_alpha2(country_name)
        # Obtener el código del continente
        continent_code = pc.country_alpha2_to_continent_code(country_code)
        # Convertir código de continente a nombre
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except:
        return None  # En caso de que el país no sea encontrado

# Crear la columna 'Continent'
df['Continent'] = df['Country'].apply(country_to_continent)

# Mostrar el DataFrame resultante
print(df)

ModuleNotFoundError: No module named 'pycountry_convert'

In [16]:
# For shorter names (uses less margins on barchart)
df1 = df.copy()
df1 = df1[['Year', 'Life expectancy ', 'Status', 'Adult Mortality', 'infant deaths']]
df1['Country'] = df['Country'].replace('Saint Vincent and the Grenadines', 'St. Vincent & the Grenadines')
df1 = df1.dropna(subset=['Year', 'Life expectancy '])
df1.to_csv('datasets/LifeExpectancyShort.csv', index=False)